.spriteImg {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.spriteImg-icon_arrow-left {
  width: 16px;
  height: 24px;
  background-position: -5px -5px;
}

.spriteImg-icon_arrow-right {
  width: 16px;
  height: 24px;
  background-position: -31px -5px;
}

.spriteImg-icon_hot {
  width: 16px;
  height: 16px;
  background-position: -57px -5px;
}

.spriteImg-icon_new {
  width: 16px;
  height: 16px;
  background-position: -83px -5px;
}

.spriteImg-icon_slideMini_next {
  width: 8px;
  height: 13px;
  background-position: -109px -5px;
}

.spriteImg-icon_slideMini_prev {
  width: 8px;
  height: 13px;
  background-position: -127px -5px;
}

.spriteImg-icon_slide_next {
  width: 41px;
  height: 41px;
  background-position: -145px -5px;
}

.spriteImg-icon_slide_prev {
  width: 41px;
  height: 41px;
  background-position: -5px -56px;
}

.spriteImg-icon_lnbClose {
  width: 40px;
  height: 40px;
  background-position: -202px -111px;
}

.spriteImg-txt_contTitle {
  width: 171px;
  height: 29px;
  background-position: -5px -107px;
}

.spriteImg-txt_h1_category {
  width: 96px;
  height: 17px;
  background-position: -56px -56px;
}

.spriteImg-txt_h1_tag {
  width: 31px;
  height: 17px;
  background-position: -162px -56px;
}

.spriteImg-txt_h2_best {
  width: 53px;
  height: 18px;
  background-position: -5px -146px;
}

.spriteImg-txt_h2_blog {
  width: 69px;
  height: 15px;
  background-position: -68px -146px;
}

.spriteImg-txt_h2_new {
  width: 50px;
  height: 17px;
  background-position: -147px -146px;
}

.spriteImg-txt_h2_ranking {
  width: 100px;
  height: 18px;
  background-position: -68px -173px;
}

.spriteImg-txt_h2_story {
  width: 68px;
  height: 15px;
  background-position: -5px -201px;
}

.spriteImg-txt_h2_tag01 {
  width: 85px;
  height: 15px;
  background-position: -83px -201px;
}

.spriteImg-txt_h2_tag02 {
  width: 59px;
  height: 15px;
  background-position: -196px -5px;
}

.spriteImg-txt_h2_tag03 {
  width: 100px;
  height: 15px;
  background-position: -186px -83px;
}

.spriteImg-txt_h2_tag04 {
  width: 72px;
  height: 15px;
  background-position: -196px -30px;
}

.spriteImg-txt_logo {
  width: 120px;
  height: 24px;
  background-position: -278px -5px;
}

.spriteImg-txt_slideBtn_start {
  width: 52px;
  height: 18px;
  background-position: -278px -39px;
}

.spriteImg-txt_tabTitle_blog {
  width: 73px;
  height: 15px;
  background-position: -340px -39px;
}

.spriteImg-txt_tabTitle_story {
  width: 72px;
  height: 15px;
  background-position: -340px -64px;
}
