.sprite-txt {
  background-image: url(./text_spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-txt_contTitle {
  width: 171px;
  height: 29px;
  background-position: -5px -5px;
}

.sprite-txt_h1_category {
  width: 96px;
  height: 17px;
  background-position: -5px -44px;
}

.sprite-txt_h1_tag {
  width: 31px;
  height: 17px;
  background-position: -111px -44px;
}

.sprite-txt_h2_blog {
  width: 69px;
  height: 15px;
  background-position: -5px -71px;
}

.sprite-txt_h2_story {
  width: 68px;
  height: 15px;
  background-position: -84px -71px;
}

.sprite-txt_h2_tag01 {
  width: 85px;
  height: 15px;
  background-position: -5px -96px;
}

.sprite-txt_h2_tag02 {
  width: 59px;
  height: 15px;
  background-position: -100px -96px;
}

.sprite-txt_h2_tag03 {
  width: 100px;
  height: 15px;
  background-position: -5px -121px;
}

.sprite-txt_h2_tag04 {
  width: 72px;
  height: 15px;
  background-position: -5px -146px;
}

.sprite-txt_logo {
  width: 120px;
  height: 24px;
  background-position: -186px -5px;
}

.sprite-txt_tabTitle_blog {
  width: 73px;
  height: 15px;
  background-position: -186px -39px;
}

.sprite-txt_tabTitle_story {
  width: 72px;
  height: 15px;
  background-position: -162px -64px;
}



.sprite-img {
  background-image: url(./img_spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-img_thumbnail01 {
  width: 240px;
  height: 176px;
  background-position: -5px -5px;
}

.sprite-img_thumbnail02 {
  width: 241px;
  height: 176px;
  background-position: -5px -191px;
}

.sprite-img_thumbnail03 {
  width: 240px;
  height: 176px;
  background-position: -255px -5px;
}

.sprite-img_thumbnail04 {
  width: 240px;
  height: 176px;
  background-position: -256px -191px;
}

.sprite-img_thumbnail05 {
  width: 240px;
  height: 176px;
  background-position: -5px -377px;
}



.icon_sprite {
  background-image: url(./icon_spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon_hot {
  width: 16px;
  height: 16px;
  background-position: -5px -5px;
}

.sprite-icon_new {
  width: 16px;
  height: 16px;
  background-position: -31px -5px;
}

.sprite-icon_arrow-left {
  width: 16px;
  height: 24px;
  background-position: -57px -5px;
}

.sprite-icon_arrow-right {
  width: 16px;
  height: 24px;
  background-position: -5px -39px;
}
